.cart-container{
    padding: 1rem;
    margin: 1rem;
}

.cart-body{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    background-color: white;
    min-height: 15rem;
    
}

.cart-items{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
    width: 70%;
}
.cart-items h4{
width: 100%;
}

.cart-items th, .cart-items td{
    text-align: center;
}

.cart-price{
    margin-left: 2rem;
    width: 40%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}