
.order-product-container{
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order-product-header{
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    margin-left:30% ;
}

.order-product-items{
    width: 70%;
    margin: 0 50%;
}
.order-product-items th,.order-product-items tr,.order-items td {
    text-align:center;
 
}

.order-product-items th{
    font-weight: bold;
    font-size: 16px;
}