.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   gap: 100px;
   padding: 30px;
}
.container{
    /* height: 200px;
    width: 28%;
    padding: 10px;
    margin: 35px;
    border: solid black;
    background-color: beige; */
}
.product{
    flex:1 1 auto;
    
}
.inputField{
    display: flex;
    gap: 5px;
}
.input{
    width: 25%;
    padding: 4px;
    border: none;
    text-align: left;
    margin-right: 10px;
}
.card{
    height: 400px;
    width: 450px;
}
.heading{
    text-align: center;
}