.categorySelector{
    padding: 10px;
    /* width: 100%; */
}
.category{
    word-wrap: normal;
    width: -webkit-fill-available;
    text-align: -webkit-center;
    height: 58px;
    border-color: lightgrey;
    border-radius: 4px;
    margin-top: 7px;
    color: dimgrey;
}
.category:hover{
    border-color: black;
}
.errors{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.addCategory{
    /* float:inline-start; */
}
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addCategory{
    width: 200px;
}