.container{
    background-image: url("1.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
    height:100vh;
    
  }

  .details{
    color:rgb(193, 12, 78);
    size: 100px;

  }
  .cust{
    color:  purple;
  }

  #btn{
    color: lightgreen;
  }
  #btn1{
    color: darkred;
  }
  #btn2{
    color: yellow;
  }