.header {
    height: 80px;
    background-color: #1565C0;
    padding: 0 10%;
    
  }

  .header .brand{
    color: #FDFDFD;
    font-weight: bold;

  }
  
  .header nav {
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;

  }
  
  .header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  .header li {
    width: 6rem;
    text-align: center;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #95bcf0;
    /* padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0; */
  }
  