
.order-container{
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order-header{
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    margin-left:30% ;
}

.order-items{
    width: 70%;
    margin: 0 50%;
}
.order-items th, .order-items td {
    text-align:center;
 
}